<div class="sidebar">
    <img src="https://image.flaticon.com/icons/png/512/477/477154.png"  height="70px">
    <img src="https://image.flaticon.com/icons/png/512/477/477154.png"  height="70px">
    <img src="https://image.flaticon.com/icons/png/512/477/477154.png"  height="70px">
        <img src="https://image.flaticon.com/icons/png/512/477/477154.png"  height="70px">
    <div style="text-align: center; font-size: 1em">Welcome to Algoheroes Home page, here you can post about Algo Wizardry, Development and games.</div>
    <div style="text-align: center">
        <button class="btnCreatePost" (click)="goToCreatePost()">Create Post</button>
    </div>
    <div style="text-align: center">
        <button class="btnCreateSubreddit" (click)="goToCreateSubreddit()">Create Subreddit</button>
    </div>
</div>